.ShipUI {
    position: relative;
    display: block;
    width: 20vw;
    height: 50vh;
    background:  rgba(105, 91, 21, 0.7);
    border: 0.2vw solid rgba(255,255,255,0.5);
    box-shadow: 0 0.2vw 0.8vw rgb(0, 0, 0);
}
