.HarbortUI {
    position: relative;
    height: 100vh;
    width: 70vw;
    max-width: 70vw;
    display: flex;
    align-items: center;
    right: 5vw;
}


.nextShip {
    position: relative;
    height: 20vh;
}

.prevShip {
    position: relative;
    height: 20vh;
}

.ShipDialogBox{
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    height: 50%;
    justify-content: center;
}