* {
    font-family: 'poppins',sans-serif;
    letter-spacing: 0.01vw;
}
.login-image{
    height: 100vh;
    max-height: 100vh;
    background-image: url("../../../source/background/login.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
}

.login-window {
    position: relative;
    right: 5vw;
    width: 20vw;
    min-width: 300px;
    height: 100vh;
    background:  rgba(105, 91, 21, 0.7);
    border: 0.2vw solid rgba(255,255,255,0.5);
    box-shadow: 0 0.2vw 0.8vw rgb(0, 0, 0);
    text-align: center
}
.login-window-elems {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.01vw;
}



.inputbox{
    position: relative;
    margin: 50px 0 50px 0;
    max-width: 80%;
    width: 18vw;
    border-bottom: 2px solid #fff;
}

label{
    position: absolute;
    top: 50%;
    left: 0.5vw;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
    font-weight: bold;
}


input:focus ~ label,
input:valid ~ label{
    top: -5px;
    color:#ffffffa4
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    padding:0 35px 0 5px;
    color: #fff;
}

.loginButton {
    width: 50%;
    height: 40px;
    border-radius: 17px;
    cursor: pointer;
    color: black;
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: #fff;
    transition: 0.5s
}

.loginButton:hover{
    width: 70%;
    background-color: rgb(0, 255, 255);
}

#passIn {
    margin-bottom: 50px;
}

.icon-user{
    background-image: url("../../../source/icons/user.png");
    position: relative;
    right: 0;
    bottom: 15px;
    height: 2vh;
    background-size: cover;
    filter: invert(100%);
}

.icon-lock{
    background-image: url("../../../source/icons/lock.png");
    position: relative;
    right: 0;
    bottom: 15px;
    height: 2vh;
    background-size: cover;
    filter: invert(100%);
}

